<!DOCTYPE html>
<html>
<head>
    <title>Akasa Air Data Platform</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px 50px;
        }
        button {
            padding: 8px 16px;
            background-color: #5a67d8;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }
        button:hover {
            background-color: #434190;
        }
        h1, h3 {
            color: #2d3748;
        }
    </style>
    <script src="/static/plotly.js"></script>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>
